html, body {
    margin: 0;
    padding: 0;
}

.parallax {
    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image1 {
    background-image: url("https://images.unsplash.com/photo-1500534623283-312aade485b7");
}

.image2 {
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
}

.message {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px 30px;
    font-size: 28px;
}

.black-block {
    height: 400px;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}
